/* General styling for body and text */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #000000; /* Changed to black for better contrast */
}

/* Positioning for the header */
header {
    position: relative; 
    z-index: 1; 
}

.container {
    background-image: url('NFL.jpg');
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-position: center;
    background-size: cover; 
    width: 100vw; 
    height: 60vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px; 
}

/* Title styling */
.container h1 {
    text-align: center; /* Center text within the h1 */
    font-size: 48px;
    color: #000000; /* Dark color for contrast */
    margin: 0; /* Remove default margin */
    height: 71.5vh;
}

/* Navigation bar */
header nav {
    background-color: #000000;
    padding: 30px;
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center; /* Align vertically */
    justify-content: space-between; /* Space between logo and nav links */
    height: 5vh;
}

header nav a {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}


/* Styling for the logo in the nav */
header nav img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/* Navigation bar */

/* Section for the main image and title */
section {
    text-align: center; /* Center align all text within the section */
}

section h2 {
    font-size: 24px;
    margin: 20px 0;
}

section p {
    text-align: center;
}

/* Styling for welcome message and sign-up link */
section p a {
    display: inline-block;
    background-color: #00bcd4;
    color: rgb(255, 250, 250);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}

section p a:hover {
    background-color: #008c9e;
}

/* Footer section styling */
footer {
    background-color: #333;
    color: white;
    padding: 30px;
    width: 100vw;
    text-align: center;
    position: relative; /* Changed from absolute to relative */
    bottom: 0; /* Positioned at the bottom of the page */
}

footer nav p {
    margin-bottom: 5px;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Footer section styling */
