/* Logo and Welcome text*/
header nav img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

section h1 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

section p, section ul {
    text-align: center;
    margin: 10px auto;
    max-width: 800px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-weight: bold;
}
/* Logo and Welcome text*/


/* Betting Odds Container*/
.betting-odds-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 20px;                             
    max-width: 1500px;                    
    margin: 0 auto;                        
    padding: 5px;
    width: 180vw;
}
/* Betting Odds Container*/


/* betting box styling */
.betting-box {
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* betting box styling */

/* Styling on images inside the betting boxes */
.betting-box img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
}
/* Styling on images inside the betting boxes */


/* Betting odds text styling */
.betting-box div p {
    margin: 5px 0;
    font-size: 16px;
    text-align: left;
}
/* Betting odds text styling */
