/* General styling for body and text */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #000000;
}

/* Positioning for the header */
header {
    position: relative; 
    z-index: 1; 
}

.container {
    background-image: url('NFL.jpg');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    width: 100vw; 
    height: 60vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px; 
}

/* Navigation bar */
header nav {
    background-color: #000000;
    padding: 30px;
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center; 
    justify-content: space-between; 
    height: 5vh;
}

header nav a {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}

/* Logo and Welcome text*/
header nav img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

section h1 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

section p, section ul {
    text-align: center;
    margin: 10px auto;
    max-width: 800px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-weight: bold;
}
/* Logo and Welcome text*/


/* Betting Odds Container*/
.betting-odds-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 20px;                             
    max-width: 1500px;                    
    margin: 0 auto;                        
    padding: 5px;
    width: 180vw;
}
/* Betting Odds Container*/


/* betting box styling */
.betting-box {
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* betting box styling */

/* Styling on images inside the betting boxes */
.betting-box img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
}
/* Styling on images inside the betting boxes */


/* Betting odds text styling */
.betting-box div p {
    margin: 5px 0;
    font-size: 16px;
    text-align: left;
}
/* Betting odds text styling */

/* Footer section */
footer {
    background-color: #333;
    color: white;
    padding: 30px;
    width: 100vw;
    text-align: center;
    position: relative; 
    bottom: 0;
}

footer nav p {
    margin-bottom: 5px;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Footer section */

footer p {
    margin: 10px 0;
}

footer nav p {
    margin-bottom: 5px;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #f05454;
}
/* Footer section */
