body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #000000;
}

header {
    position: relative;
    z-index: 1;
}

.container {
    background-image: url('NFL.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

header nav {
    background-color: #000000;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

header nav a {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}

header nav img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.sign {
    text-align: center;
    font-size: 30px;
    height: 10vh;
    position: relative;
    top: -20px;
    left: 0px;
}

.email input {
    padding: 15px;
    font-size: 21px;
    width: 300px;
    height: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.email {
    position: relative;
    top: -15px;
    left: 763px;
}

.username input {
    padding: 15px;
    font-size: 21px;
    width: 300px;
    height: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.username {
    position: relative;
    top: 10px;
    left: 730px;
}

.password input {
    padding: 15px;
    font-size: 21px;
    width: 300px;
    height: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.password {
    position: relative;
    top: 15px;
    left: 735px;
}

.phone input {
    padding: 15px;
    font-size: 21px;
    width: 300px;
    height: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.phone {
    position: relative;
    top: 15px;
    left: 700px;
}

.button button {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    height: 60px;
    width: 300px;
    border-radius: 30px;
    border: none;
    background-color: #6b6e71;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    position: relative;
    top: 10px;
    left: 30px;
}

footer {
    background-color: #333;
    color: white;
    padding: 30px;
    width: 100vw;
    text-align: center;
    position: relative;
    bottom: 0;
    top: 60px;
}

footer nav p {
    margin-bottom: 30px;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}
