.container {
    background-image: url('NFL.jpg');
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-position: center;
    background-size: cover; 
    width: 100vw; 
    height: 60vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px; 
}

/* Title styling */
.container h1 {
    text-align: center; /* Center text within the h1 */
    font-size: 47px;
    color: #000000; /* Dark color for contrast */
    margin: 0; /* Remove default margin */
    height: 74vh;
}


/* Section for the main image and title */
section {
    text-align: center; /* Center align all text within the section */
}

section h2 {
    font-size: 24px;
    margin: 20px 0;
}

section p {
    text-align: center;
}

/* Styling for welcome message and sign-up link */
section p a {
    display: inline-block;
    background-color: #00bcd4;
    color: rgb(255, 250, 250);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}

section p a:hover {
    background-color: #008c9e;
}




